server:
  port : 8082
spring:
  application: providerB
  h2:
    console.enabled: true
  datasource:
    url: jdbc:h2:mem:providerB
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
